* {
  padding: 0;
  margin: 0;
}

html,
body,
#root {
  height: 100%;
  font-family: monospace;
  background: black;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  color: #00ff00;
  padding-left: 1em;
}

nav a {
  display: inline-block;
  padding: 0.25em;
  margin: 0.25em;
  text-transform: capitalize;
  border: 1px dotted transparent;
  color: #00ff00;
}

nav a.active {
  border-color: currentColor;
}

.item-content {
  background-color: rgba(255, 255, 255, 0.8);
  width: 33vw;
  min-width: 200px;
  padding: 0.5em 0 1em 1em;
}

.hover canvas {
  cursor: pointer;
}
