* {
  padding: 0;
  margin: 0;
}

html,
body,
#root {
  height: 100%;
  font-family: monospace;
  background: black;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  color: #00ff00;
  padding-left: 1em;
}

nav a {
  display: inline-block;
  padding: 0.25em;
  margin: 0.25em;
  text-transform: capitalize;
  border: 1px dotted transparent;
  color: #00ff00;
}

nav a.active {
  border-color: currentColor;
}

.item-wrapper {
  pointer-events: none;
}

.item-wrapper a {
  pointer-events: all;
}

h2 {
  white-space: nowrap;
  font-weight: normal;
}

.item-content,
.item-preview {
  width: 33vw;
  min-width: 200px;
  padding: 0.5em;
  transform: translate(0.5em, -1.5em);
}

.item-content {
  background-color: rgba(255, 255, 255, 0.8);
}

.item-preview h2 {
  color: #00ff00;
}

.hover canvas {
  cursor: pointer;
}

.description {
  margin-top: 0.5em;
}

dl {
  margin-top: 0.5em;
  display: grid;
  grid-template-columns: auto 1fr;
}

dt::after {
  content: ':';
  margin-right: 1ch;
}
